<html>
    <body>
        <h1>GitHub Reviewers Leader Board:</h1>
        <ul>
        {{#board}}
            <li><b>{{comments}}</b> comments by <a href="https://github.com/{{username}}" target="_blank">{{username}}</a></li>
        {{/board}}
        </ul>
    </body>
</html>

