<html>
    <meta http-equiv="refresh" content="10">
    <body>
        <h1>GitHub Reviewers Leader Board: <a href="https://github.com/{{orgName}}" target="_blank">{{orgName}}</a></h1>
        {{^loaded}}
        Still Loading! Please wait while we fetch your organization's data from GitHub...
        {{/loaded}}
        {{#loaded}}
            {{^records}}
            No comments! Start reviewing...
            {{/records}}
            <ol style="font-weight: bold;">
            {{#records}}
                <li>
                    <table>
                        <tr><td><b>{{commentCount}} comments by <a href="https://github.com/{{username}}" target="_blank">{{username}}</a></b>, who recently wrote:</td></tr>
                        <tr><td>{{sampleComment}}</td></tr>
                    </table>
                </li>
            {{/records}}
            </ol>
        {{/loaded}}
    </body>
</html>

